<footer>
    <div class="footer">
        <div class="news-logo">ENEWS</div>
        <div class="categ">
            <ul>
                <li ><a  style="color: white;background-color: #002;" class="dropdown-item" href="/posts/category/<%= 'Sports' %> ">Sports</a></li>
                <li><a class="dropdown-item" style="color: white;background-color: #002;" href="/posts/category/Entertainment">Entertainment</a></li>
                <li><a class="dropdown-item" href="/posts/category/Politics" style="color: white;background-color: #002;">Politics</a></li>
                <li><a class="dropdown-item" style="color: white;background-color: #002;" href="/posts/category/Environment">Environment</a></li>
                <li><a class="dropdown-item" href="/posts/category/National" style="color: white;background-color: #002;">National</a></li>
                <li><a class="dropdown-item" href="/posts/category/InterNational" style="color: white;background-color: #002;">InterNational</a></li>            
  
            </ul>
        </div>
        <div class="trending">
        <div class="trending-topics">
            <div class="logo">Trending Topics</div>
            <ul>
                <li ><a  style="color: white;background-color: #002;" class="dropdown-item" href="/posts/category/<%= 'Sports' %> ">Sports</a></li>
                <li><a class="dropdown-item" style="color: white;background-color: #002;" href="/posts/category/Entertainment">Entertainment</a></li>
                <li><a class="dropdown-item" href="/posts/category/Politics" style="color: white;background-color: #002;">Politics</a></li>
                <li><a class="dropdown-item" style="color: white;background-color: #002;" href="/posts/category/Environment">Environment</a></li>
                <li><a class="dropdown-item" href="/posts/category/National" style="color: white;background-color: #002;">National</a></li>
                <li><a class="dropdown-item" href="/posts/category/InterNational" style="color: white;background-color: #002;">InterNational</a></li>            
            </ul>    
        </div>
<div class="Trending-Today">
    <h3>Trending Today</h3>
    Satya Nadella | The man who rebuilt Microsoft
    Centre invites 14 J&K leaders to meet Narendra Modi on June 24
    Third wave in 6-8 weeks if Covid-appropriate behaviour not followed, warns AIIMS chief
    Obituary | Milkha Singh, name synonymous with running to survive and succeed, has moved to a better world
    Lacklustre England held as Scotland make their point
    Milkha Singh | An unmatchable romance with a near miss
    In Kashmir, a village basks in vaccine glory
    Nation bids farewell to Flying Sikh Milkha
    Fair assessment: On CBSE Class 12 evaluation system
    Third wave could hit India by October: experts
</div>
    </div>
            </div>
</footer>