<ul>
    <li>
        <a  href="" id="createpost">Create Post</a>
    </li>
    <li>
        <a href="" id="postdelete">Delete Post</a>
    </li>
    <li>
        <a href="/user/logout">Logout</a>
    </li>
</ul>