<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css"></head>
<body>
<div class="hero">

    <% if (msg) {%>
        <div id="msg" class="<%= msg %>"><%= err %></div>    
        <% } %> 
    
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button class="toggle-btn" onclick="login()">Log In</button>
            <button class="toggle-btn" onclick="register()">Register</button>

        </div>
        <form action="/user/login" class="input-group" id="login" method="post">
            <input name="email" type="text" class="input-field" placeholder="User mail id" required>
            <input name="password" type="password" class="input-field" placeholder="Enter password" required>
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button type="submit" class="submit-btn">Log In</button>
        </form>
        <form action="/user/register" class="input-group" id="register"  method="POST">
            <input type="text" name="username" class="input-field" placeholder="choose a user name" required>
            <input type="email" name="email" class="input-field" placeholder="User mail id" required>
            <input type="password" name="password" class="input-field" placeholder="Enter password" required>
            <input type="checkbox" class="check-box"><span>I agree terms and conditions</span>
            <button type="submit" class="submit-btn">Register</button>
        </form>

    </div>
</div>

<!--scripts-->
<script src="/js/login.js"></script>
</body>
</html>